        <section class="vh-100">
          <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">

              <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                  class="img-fluid" alt="Sample image">
              </div>
              <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
                  <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                    <h1 class="lead fw-normal mb-4 me-3">Welcome  Task GPT</h1>
                  </div>

                    <!-- Email Input -->
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control form-control-lg" formControlName="email" placeholder="Ingresa un email válido">
                    </div>


                    <!-- Password Input -->
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control form-control-lg" formControlName="password" placeholder="Ingresa una contraseña">
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                      <button type="submit" value="Enviar" class="w-100 btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">Sign up</button>
                      <p class="small fw-bold mt-2 pt-1 mb-0">Do you already have an account?
                         <a routerLink="/login" routerLinkActive="active" class="link-danger">
                         Login in</a>
                      </p>
                    </div>

                </form>
              </div>
            </div>
          </div>
        </section>
